body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px;
}

.container{
    /* height: 400px; */
    width: 600px;
    border: 4px blue solid;
    padding: 35px;

}
.cont{
    position: relative;
    width: 100%;
}
.butn{
    position: absolute;
    right: 2px;
    color: aliceblue;
    font-size: 25px;
    border-radius: 100%;
    border: 2px blue solid;
    font-weight: bolder;
    color: blue;

    /* margin-top: px; */
}